# ── PostgreSQL ────────────────────────────────────────────────
PG_USER=postgres
PG_PASSWORD=postgres
PG_PORT=5432

# ── MinIO ─────────────────────────────────────────────────────
MINIO_ACCESS_KEY=minio
MINIO_SECRET_ACCESS_KEY=minio123
MINIO_PORT=9000
MINIO_PORT_UI=9001
MLFLOW_BUCKET_NAME=mlflow

# ── MLflow ────────────────────────────────────────────────────
MLFLOW_PORT=5000

# ── JupyterLab ────────────────────────────────────────────────
JUPYTER_PORT=8888

# ── FastAPI ───────────────────────────────────────────────────
API_PORT=8000

# ── Airflow ───────────────────────────────────────────────────
AIRFLOW__API_AUTH__JWT_SECRET=cambiar_este_valor_por_uno_seguro
AIRFLOW_UID=50000
AIRFLOW_GID=0
AIRFLOW_PROJ_DIR=./airflow
AIRFLOW_PORT=8080
AIRFLOW_IMAGE_NAME=extending_airflow:latest
_AIRFLOW_WWW_USER_USERNAME=airflow
_AIRFLOW_WWW_USER_PASSWORD=airflow
AIRFLOW_PG_USER=airflow
AIRFLOW_PG_PASSWORD=airflow
AIRFLOW_PG_DATABASE=airflow
