# Entorno y secretos
.env

# Directorios generados por Airflow
airflow/logs/
airflow/plugins/

# Notebooks de Jupyter, comentado
notebooks/.ipynb_checkpoints

# Python
__pycache__/
*.pyc
*.pyo

# Docker
*.log
